p{
    color: red;
}
h1{
    color: brown;
}
h2{
    color: white;
    background-color: yellowgreen ;
    width: 50%;
}
#gm{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 5px solid black;
}